body {
    /* On met en place le fond d'écran */
    background-image:url(img/img9.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 100%;
    min-width: 1024px;
    /* On indique un redimensionnement proportionnel */
    width: 100%;
    height: auto;
        /* L'image est positionnée en haut à gauche */
        position: relative;
        top: 0;
        left: 0;
   }
   @media screen and (max-width: 1024px) { /* Le traitement est ici spécifique à l'image */
    body {
    left: 50%;
    margin-left: -512px; /* 50% */
    }
   }
#contain{
    width: 60%;
    margin: 0 auto;
    margin-top: 10%;
    display: flex;
    border: 20px solid #ffffff;
    box-shadow: 0 0 20px 0 ;
    background: white;
    
}
.divimage>img {
    width:100%; 
    height:100%;
    
}
#titre{
    text-align: left;
    position: relative;
    top: -80%;
    left: 55%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    z-index: 1000;
}
form{
    width: 100%;   
    border: 1px solid #1b62e6;
}

#contain h1{
    width: 38%;
    margin: 0 auto;
    padding-bottom: 10px;
}

.login{
    background-color: rgb(194, 194, 206);
}

#contain>form>p{
    text-align: center;
}
/* champs de formulaire */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 7px;
    box-sizing: border-box;
}
/* Boutton formulaire : submit */
input[type=submit] {
    background-color: #6088f8;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 7px;

}
input[type=submit]:hover {
    background-color: white;
    color: #6088f8;
    border: 1px solid #6088f8;
}

#contain2{
    display: flex;
    align-content:space-between;
}
